[Desktop Entry]
Name=Ricochet
GenericName=Music Player
Comment=An album oriented MPD client
Exec=ricochet
Terminal=false
Type=Application
Icon=ricochet
Categories=Audio;Music;
