[Desktop Entry]
Name=Ricochet
GenericName=Music Player
Comment=A different angle on music
Exec=ricochet
Terminal=false
Type=Application
Icon=/opt/ricochet/images/ricochet.png
Categories=AudioVideo;Audio;Music;
